@import "./app-launcher"

mainbox {
	margin: 20% 40%;
	children: [ message, listview ];
}

listview {
	columns: 1;
}

element-icon {
	padding: 0.5em 0 0 0;
	size: 64;
}

element-text {
	padding: 0 0 0.5em 0;
	font: "Roboto Nerd Font 15";

}
